header{
    background-color: rgb(33, 107, 107);
}

h1 {
    display: inline;

}

#logo {
     width: 250px
}
  nav {
    display:inline-block;
    position:absolute;
    right: 30px;
    top: 110px;
  }


 nav li {

    display: inline;
    margin: 10px;

 }

 nav a {
    text-transform: uppercase;
    color: rgb(33, 22, 70);
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
 }